body {
  background-color: #222831;
  display: flex;
  flex-direction: column;
}

header {
  background-color: #222831;
  height: 50px;
  display: flex;
  justify-content: flex-end;
}

.line{
  height: 10px;
}
hr{
  width: 100%;
}

button {
  margin-top: 13px;
  margin-right: 80px;
  background-color: #222831;
  border-radius: 10px;
  color:whitesmoke;
  width: 100px;
  height: 30px;
  border: none;
  transition: background-color 0.5s, opacity 0.2s;
}

.end_gap{
  margin-right: 130px;
}

button:hover{
    background-color: #393E46;
    cursor: pointer;
}

button:active{
  opacity: 0.5;
}

.avatar{
    height: 320px;
    width: 320px;
    border-radius: 100px;
    margin-left: 90px;
}

.name{
    margin-top: 75px;
    margin-right: 600px;
    width: fit-content;
    height: fit-content;
    font-family: monospace;
    font-size:xx-large;
    color: whitesmoke;
}

.info{
  width: fit-content;
  color: whitesmoke;
  font-family: monospace;
  font-size: large;
}

.prof_img_div {
  margin-top: 26px;
  height: 320px;
  background-color: #222831;
  transition: width 0.5s;
  display: flex;
  justify-content: last baseline;
  flex-direction: column;
  flex-wrap: wrap;

}



 